.errhintBox {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.errhintBox_img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.errhintBox_p {
  color: #999;
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}

.enwo{
  padding: 100px 0;
  position: relative;
  z-index: 9;
}